.root {
    -fx-background-color: #2c3e50; /* Ciemny granat tła */
}


.contract-con{
    -fx-background-color: #494848;
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-style: solid;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 30, 0, 0, 0);
}

.employee-con{
    -fx-background-color: #494848;
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-style: solid;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 30, 0, 0, 0);
}

.backButton{

    -fx-background-color: #ffffff; /* Jasnoniebieski kolor przycisków */
    -fx-text-fill: #070000; /* Biały tekst */
    -fx-font-size: 15px; /* Większy rozmiar tekstu dla lepszej widoczności */
    -fx-font-weight: 700;
    -fx-border-color: #2a2929; /* Biała ramka przycisków */
    -fx-border-width: 1px; /* Szerokość ramki */
    -fx-padding: 10px 15px; /* Padding przycisków */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0); /* Cień dla przycisków */
}

.button{
    -fx-background-color: #031d1e; /* Jasnoniebieski kolor przycisków */
    -fx-text-fill: white; /* Biały tekst */
    -fx-border-color: #1f1d1d; /* Biała ramka przycisków */
    -fx-border-width: 1px; /* Szerokość ramki */
    -fx-padding: 10px 15px; /* Padding przycisków */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0); /* Cień dla przycisków */
    -fx-font-size: 20px;
}


.list-view{
    -fx-background-color: #575656;
    -fx-text-fill: white;
    -fx-control-inner-background: #575656;
    -fx-cell-hover-color: #575656;
    -fx-font-size: 22px;
}

.label{
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.biggerText{
    -fx-font-size: 20px;
}

.errorLabel{
    -fx-font-size: 25px;
    -fx-text-fill: red;
    -fx-font-weight: 700;
}

.comboxstatussearch{
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-text-alignment: center;
}

.combo-box{
    -fx-background-color: #212020;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
}

.textfieldsearch{
    -fx-background-color: #212020;
    -fx-font-size: 20px;
}

.text-field{
    -fx-background-color: #212020;
    -fx-text-fill: white;
}

.clearButton{
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-font-size: 15px;
    -fx-font-weight: 700;
    -fx-background-color: #720808;
    -fx-border-width: 0px;
}

.clearButton:hover{
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-font-size: 15px;
    -fx-font-weight: 700;
    -fx-background-color: #7a3030;
}


.buttonDarkMode{
    -fx-background-color: #3d3939;
    -fx-pref-height: 50px;
    -fx-pref-width: 175px;
    -fx-font-size: 27px;
}

.buttonDarkMode:hover{
    -fx-background-color: #beb8b8;
}