/* menuStyle.css */
.root {
    -fx-background-color: #90beef; /* Ciemny granat tła */
}

.button {
    -fx-background-color: linear-gradient(to bottom, #48a7ea, #2e5673); /* Gradient od jasnoniebieskiego do ciemniejszego niebieskiego */
    -fx-text-fill: #000000; /* Czarny tekst */
    -fx-border-color: #000000; /* Czarna ramka przycisków */
    -fx-border-width: 2px; /* Szerokość ramki */
    -fx-padding: 15px 30px; /* Padding przycisków */
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.8), 10, 0, 0, 0); /* Cień dla przycisków */
    -fx-pref-height: 200px;
    -fx-pref-width: 600px;
    -fx-font-size: 40px;
}

.button:hover {
    -fx-background-color: #2e5673; /* Ciemniejszy niebieski kolor przycisków przy najechaniu */
}

.buttonDarkMode{
    -fx-background-color: linear-gradient(to bottom, #bdb3b3, #8a8989);
    -fx-pref-height: 50px;
    -fx-pref-width: 200px;
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0); /* Cień dla przycisków */
}

.buttonDarkMode:hover{
    -fx-background-color: #262626;
}