.root{
    -fx-background-color: #90beef; /* Ciemny granat tła */
}

.button:hover {
    -fx-background-color: #2980b9; /* Ciemniejszy niebieski kolor przycisków przy najechaniu */
}

.mainvboxspace{
    -fx-background-color: #ffffff;
    -fx-border-color: black; /* Biała ramka przycisków */
    -fx-border-width: 3px; /* Szerokość ramki */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.button{
    -fx-background-color: #17cdd5; /* Jasnoniebieski kolor przycisków */
    -fx-text-fill: white; /* Biały tekst */
    -fx-border-color: white; /* Biała ramka przycisków */
    -fx-border-width: 1px; /* Szerokość ramki */
    -fx-padding: 10px 15px; /* Padding przycisków */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0); /* Cień dla przycisków */
    -fx-font-size: 20px;
}

.backButton{
    -fx-background-color: #5d99f8;
    -fx-font-weight: 700;

}

.label{
    -fx-font-size: 25px;
}

.text-area{
    -fx-font-size: 18px;
    -fx-wrap-text: true;
}

Text{
    -fx-font-size: 18px; /* Upewnij się, że nie ma literówki */
}

.text-field{
    -fx-font-size: 20px;
}

.list-view{
    -fx-font-size: 18px;
}

.errorLabel{
    -fx-font-size: 25px;
    -fx-text-fill: red;
    -fx-font-weight: 700;
}

.buttonDarkMode{
    -fx-background-color: #bdb3b3;
    -fx-pref-height: 50px;
    -fx-pref-width: 175px;
    -fx-font-size: 27px;
}

.buttonDarkMode:hover{
    -fx-background-color: #262626;
}