.root {
    -fx-background-color: #90beef; /* Ciemny granat tła */
}


.res-con{
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-style: solid;
    -fx-background-color: whitesmoke;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 30, 0, 0, 0);
}

.button{
    -fx-background-color: #1bb0bb; /* Jasnoniebieski kolor przycisków */
    -fx-text-fill: white; /* Biały tekst */
    -fx-border-color: white; /* Biała ramka przycisków */
    -fx-border-width: 1px; /* Szerokość ramki */
    -fx-padding: 10px 15px; /* Padding przycisków */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0); /* Cień dla przycisków */
    -fx-font-size: 20px;
}

.backButton{
    -fx-background-color: #5d99f8; /* Jasnoniebieski kolor przycisków */
    -fx-font-weight: 700;
}
.urodziny{
    -fx-font-size: 20px;
}



.list-view{
    -fx-font-size: 20px;
}

.listviewSec{
    -fx-font-size: 14px;
}

.label{
    -fx-font-size: 20px;
}

.errorLabel{
    -fx-font-size: 25px;
    -fx-text-fill: red;
    -fx-font-weight: 700;
}

.textfieldsearch{
    -fx-font-size: 20px;
}

.clearButton{
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-font-size: 15px;
    -fx-font-weight: 700;
    -fx-background-color: #720808;
    -fx-border-width: 0px;
}

.clearButton:hover{
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-font-size: 15px;
    -fx-font-weight: 700;
    -fx-background-color: #7a3030;
}

.buttonDarkMode{
    -fx-background-color: #bdb3b3;
    -fx-pref-height: 50px;
    -fx-pref-width: 175px;
    -fx-font-size: 27px;
}

.buttonDarkMode:hover{
    -fx-background-color: #262626;
}