/* menuStyle.css */
.root {
    -fx-background-color: #90beef;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #1bb0bb, #148387);
    -fx-text-fill: white; /* Biały tekst */
    -fx-border-color: white; /* Biała ramka przycisków */
    -fx-border-width: 1px; /* Szerokość ramki */
    -fx-padding: 10px 15px; /* Padding przycisków */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0); /* Cień dla przycisków */
    -fx-font-size: 20px;
}

.backButton {
    -fx-background-color: linear-gradient(to bottom, #5d99f8, #3a6fb3);
    -fx-font-weight: 700;
}



.button:hover {
    -fx-background-color: #2980b9; /* Ciemniejszy niebieski kolor przycisków przy najechaniu */
}

.label {
    -fx-text-fill: black;
    -fx-font-size: 20px;
}

.text-field {
    -fx-font-size: 20px;
}

.combo-box {
    -fx-font-size: 20px;
    -fx-pref-width: 350px;
    -fx-pref-height: 50px;
}

.combo-box-select {
    -fx-font-size: 18px;
    -fx-pref-width: 400px;
    -fx-pref-height: 50px;
}

.label-space {
    -fx-font-size: 30px;
}

.label-spec {
    -fx-font-size: 25px;
}

.vbox-main {
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-style: solid;
    -fx-background-color: whitesmoke;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 30, 0, 0, 0);
}

.vbox-spec {
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-style: solid;
    -fx-background-color: whitesmoke;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 30, 0, 0, 0);
}

.listViewSpaces {
    -fx-font-size: 18px;
}

.listOfSpec {
    -fx-font-size: 18px;
}

.listViewSpecOfSpace {
    -fx-font-size: 18px;
}

.errorLabel {
    -fx-font-size: 25px;
    -fx-text-fill: red;
    -fx-font-weight: 700;
}

.buttonDarkMode{
    -fx-background-color: linear-gradient(to bottom, #bdb3b3, #8a8989);
    -fx-pref-height: 50px;
    -fx-pref-width: 175px;
    -fx-font-size: 27px;
}

.buttonDarkMode:hover{
    -fx-background-color: #262626;
}